<h1>Current User <%= current_user.name %></h1>

<!-- inserir botão de trainner na navbar -->


<%= link_to "Home", root_path, class: "btn btn-primary" %>

<div class="container">
  <h2 id="congrats">Congrats, you are one step closer into changing your life</h2>
</div>

<div class="d-flex sm-6">
    <h1>HELLO WORLD</h1>
  <div class="d-flex sm-6">
    <h1>HELLO WORLD</h1>
</div>
