<h1>Let's Get Started, <%= current_user.name %></h1>

<!-- inserir botão de trainner na navbar -->
<% if current_user.trainer? %>
<%# render xxx todos os treinos %>
<% else %>
<%= link_to "Register as personal trainer!", update_path, class: "btn btn-primary" %>
<% end %>
