<h1>My Bookings</h1>

  <div class="container">
      <% @bookings.each do |booking| %>
    <li>
      <p><%= booking.trainning.user.name %></p>
      <p><%= booking.trainning.category.name %></p>
      <p><%= booking.trainning.duration %></p>
        <!--<p class="card-title">" <%#= trainning.description %> "</p>-->
    </li>
      <% end %>
  </div>
