
<div class="container p-5">
  <h3>Nice, <%= current_user.name %>! <i class="fas fa-child"></i></h3>


  <div class="container  p-5 border">
  <h5><%= @trainning.user.name %> will get in touch with you by message with your trainning´s details.</h5>
  <p>-----Now go kick some ass!!!------</p>
  <i class="fas fa-rocket"></i><i class="fas fa-rocket"></i><i class="fas fa-rocket"></i><i class="fas fa-rocket"></i><i class="fas fa-rocket"></i><i class="fas fa-rocket"></i><i class="fas fa-rocket"></i><i class="fas fa-rocket"></i>

  </div>

</div>
