<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://bit.ly/3503Ja2);">
  <div class="container ctnr-ban">
    <div class="container" id="home-infos">
      <div class="background-text-card">
        <h1 id="banner-h">WorkOUTs.</h1>
        <p id="banner-h">Meet online, workout LIVE.</p>

        <%#= link_to "Get your tranning going!", new_user_session_path, class: "btn btn-primary" %>
        <%= link_to "Get your trainning going", new_user_session_path, class: "btn btn-flat" %>
        <%#= link_to "Sign in", new_user_session_path, class: "btn btn-flat-white" %>
        <%#= link_to "Create new trainning", new_trainning_path, class: "btn btn-primary" %>
        <%#= link_to "all trainnings", trainnings_path, class: "btn btn-flat" %>
      </div>
    </div>
  </div>
</div>
