<div class="container" id="select">
<<<<<<< HEAD
<div>


<%#= link_to "view details", trainning_path(trainning), class: "btn btn-primary" %>
=======
  <%#= link_to "view details", trainning_path(trainning), class: "btn btn-primary" %>
>>>>>>> master
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="container border-bottom">
    <h3>See all trainnings available in your zone:</h3>
  </div>
<<<<<<< HEAD


  <div class="container margin-bottom" >
    <div class="row" >
=======
  <div class="container">
    <div class="row">
>>>>>>> master
      <% @trainnings.each do |trainning| %>
        <div class="col-6">
          <%= render "trainnings/cards", trainning: trainning %>
        </div>
      <% end %>
    </div>
  </div>
</div>
