<h1>Form de Trainnings</h1>

<ul class="list-group">
        <%= simple_form_for @trainning do |form| %>
        <li class="list-group-item"><%= form.input :address %></li>


        <%= form.submit class: 'btn btn-info' %>
        <% end %>
      </ul>
