<div class="container" id="select">
  <div class="d-flex justify-content-center border-bottom">
    <h3><%= current_user.name %>'s trainnings:</h3>
  </div>
  <div class="row">
    <% @trainnings.each do |trainning| %>
      <div class="col-6">
        <%= render "trainnings/cards", trainning: trainning %>
      </div>
    <% end %>
  </div>
</div>
