// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 55px 0;
}

.banner-trainer {
  background-size: cover;
  background-position: center;
  padding: 55px 0;
  height: 560px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#congrats {
  font-size: 29px;
  background-color: rgb(240, 173, 28);
  border-radius: 5px;
  color: white;
}


.container.ctnr-ban {
  margin-top: 320px;
}

.background-text-card h1{
 padding-top: 100px;
}
 #banner-h {
  font-family: 'Merriweather Sans', sans-serif ;
 }

 #login-big {
   margin-left: 120px;
   font-size: 35px;
 }

head {
  background: white;
}

body {
  background: white;
}

.container-ratings {

background-color: #f7e8f0;
margin-bottom: 5px;
}

.form-control.is-valid {
    border-color: #1EDD88;
    padding-right: calc(1.5em + 0.75rem);
    margin-left: -2px;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
