// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 55px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#congrats {
  font-size: 29px;
  background-color: rgb(240, 173, 28);
  border-radius: 5px;
  color: white;
}


.container.ctnr-ban {
  margin-top: 320px;
}

.background-text-card h1{
 padding-top: 100px;
}
 #banner-h {
  font-family: 'Merriweather Sans', sans-serif ;
 }

 #login-big {
   margin-left: 120px;
   font-size: 35px;
 }

head {
  background: white;
}

body {
  background: white;
}

