.trainning-card {
  margin-top: 15px;
}

a {
   color: white; text-decoration: none; background-color: transparent;
 }

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.image img {
  display: block;
  border-radius: 25%;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-top: -20px;
}


#username {
  color: rgb(51, 51, 51);
  text-align: center;
}

h4 {
  color: rgb(80, 104, 121);
  text-align: center;
}

.card {
  background-size: cover;
  width: 418px;
  height: 120px;
}

.card h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}


.card-category {
  margin-top: 5px;
  background-size: cover;
  background-position: center;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trainning {
  margin-top: 15px;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1px;
  margin-bottom: 3px;
}

.p-1 {
  padding: 0.75rem !important;
}

.trainning-details {
  width: 325px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1px;
  margin-top: 20px;
  margin-left: 45px;
  border-radius: 8px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(90, 90, 90, 0.267);
}

#title-size {
  font-size: 15px;
}

.card-body {
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  margin-bottom: 1px;
  padding: 11px;
}


#trainnings {
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#cards {
  margin-top: 20px;
}

#select {
  margin-top: 30px;
}

#text-big {
  text-align: center;
}

.profile-img {

  width: 250px;
  height: 220px;
  margin-left: 65px;
  border-radius: 35px;

 // margin-right: 45px;
  //border-radius: 5px;

}

.profile-img-test {
     width: 500px;
     height: 500px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
  }

.fa-star {
  font-size: 20px;
}

.fa-star-half-alt {
  font-size: 20px;
}

.list-group-item {
  background: rgba(255, 255, 255, 0.301);
  border: 0px;
}

.list-group{
  margin-bottom: 70px;
  border-radius: 5px;
  background: white;
  box-shadow: 1px 2px 6px #475969b2;
}

.stars {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 55px;
  width: 300px;
}


#home-infos {
  margin-bottom: 100px;
}

.fa-trophy{
  color: rgb(255, 208, 0);
  font-size: 20px;
}

.fa-user-check{
  color: black;
  font-size: 20px;
}

.fa-address-card{
  color: black;
  font-size: 20px;
}

.margin-bottom {
  margin-bottom: 70px;
}
 .main-container {
   margin-bottom: 150px;
 }

 a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.board-photo {
  width: 100px;
  height: 100px;
}

.weather {
  margin-top: 8px;
  font-size: 30px;
  font-weight: bold;
}

