.message {
  background: rgba(243, 148, 23, 0.808);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 250px;
  height: 70px;
  margin-top: 20px;
}
.chat-date {
  font-size: 12px;
  text-align: right;
}
.message-input {
  margin-bottom: 70px;
  border-radius: 5px;
}
.button, input {
  overflow: visible;
  margin-left: -10px;
  margin-top: 5px;
}
.sent {
 float: right;
 margin-right: 10px;
 background: rgb(77, 74, 71);
 color: white;
 font-weight: 600;
 height: 100%;
}
 .received {
  float: left;
  margin-left: 25px;
  background:#f8b227e1;
  color: white;
  font-weight: 600;
  height: 100%;
 }





