.footer{
  margin-left: 0;
  margin-right: 0;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  padding: 0px 225px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.footer-links a {
  color: #5c636e;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 23px; 
  text-shadow: 1px 1px 10px rgba(153, 153, 153, 0.76);
}

.logo-home img {
  text-decoration: none;
  width: 65px;
  height: 65px;
  margin-bottom: 15px;
  border: 1px solid rgb(255, 187, 0);
  border-radius: 100px;
  box-shadow: 1px 1px 10px rgba(153, 153, 153, 0.671);
}

.fa-sign-out-alt {
  text-shadow: 1px 1px 8px rgba(153, 153, 153, 0.76);
}


