.footer {
  background: #f5f5f5e7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #F7B32D;
  text-decoration: none;
  font-size: 35px;
  padding: 0px 50px;
  opacity: 0.7;
  border-left: 1px solid rgb(185, 185, 185);
  border-right: 1px solid rgb(185, 185, 185);
}

