.navbar-lewagon {
  position: fixed;
  width: 420px;
  height: 60px; 
  top: 0;
  justify-content: space-between;
  background: rgba(255, 136, 0, 0.103);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgba(226, 114, 9, 0.438);
}

